<p>password-reset works!</p>
<header class="d-flex">
    <img src="./../../assets/logo/logo.svg" alt="">
</header>

<div class="login-out width-and-heigt-100p">
    <form (ngSubmit)="sendPasswordResetEmail(email)" class="login">
        <div class="d-flex">
            <img [routerLink]="['/login']" src="./../../assets/log-in/arror-left.svg" alt="">
            <h1>Passwort zurücksetzen</h1>
        </div>
        <span>Bitte geben sie ihre E-Mail-Adresse an</span>

        <div class="input-fild">
            <img src="./../../assets/log-in/mail.svg">
            <input placeholder="beispielname@email.com" type="text" alt="" [(ngModel)]="email" name="email" #emailField="ngModel">
        </div>

        <span>Wir senden Ihnen eine E-Mail, über die sie Ihr Passwort ändern können</span>

        <div class="buttons">
            <button type="submit" class="btn-login-user">Passwort zurücksetzen</button>
        </div>
    </form>
</div>