<div class="verify-email-instructions">
    <h1>Fast geschafft!</h1>
    <p>Wir haben eine E-Mail mit einem Verifizierungslink an deine Adresse gesendet. Bitte überprüfe dein Postfach und klicke auf den Link, um deine E-Mail-Adresse zu bestätigen und die Registrierung abzuschließen.</p>
    <p>Falls du die E-Mail nicht finden kannst, überprüfe bitte auch deinen <span class="highlight">Spam-Ordner</span>.</p>
    <p><span class="important-notice">Bitte schließe diese Seite und registriere dich neu.</span></p>
</div>