<div *ngIf="searchResults" class="user-search-container ">
    <div class="user-searchname" *ngFor="let user of searchResults">
        <div (click)="insertSelectedUserName(user.name)">{{ user.name }}</div>
    </div>
</div>

<div class="send-massage">
    <div class="load-img-container" *ngIf="this.dragAndDropService.uploadedImage">
        <div class="delete-img-button" (click)="closeImg()" style="position:absolute;">X</div>
        <img [src]="this.dragAndDropService.uploadedImage" alt="Vorschaubild">
    </div>

    <div class="fake-textarea-container" (click)="focusContent()">
        <div contenteditable="true" class="fake-textarea" (input)="onInput($event)" #contentDiv></div>
        <span *ngIf="showPlaceholder" class="placeholder">Nachricht an #{{ messageService.secondChatHeader }}</span>
    </div>

    <div class="send-menu d-flex ">
        <div class="img-container">
            <div class="icon-container">
                <img class="icon" (click)="openDialog()" src="./../../assets/main-section/icons/add_grey.svg" alt="">
                <img class="icon-hover" (click)="openDialog()" src="./../../assets/main-section/icons/add_blue.svg" alt="">
            </div>
            <div class="divider"></div>
            <div class="icon-container">
                <img class="icon" (click)="toggleEmojiPicker('main')" src="./../../assets/main-section/icons/add_reaction.svg" alt="">
                <img class="icon-hover" (click)="toggleEmojiPicker('main')" src="./../../assets/main-section/icons/add_reaction_blue.svg" alt="">
            </div>
            <div class="icon-container">
                <img (click)="insertAtSymbol()" class="icon" src="./../../assets/main-section/icons/alternate_email.svg" alt="">
                <img (click)="insertAtSymbol()" class="icon-hover" src="./../../assets/main-section/icons/alternate_email_blue.svg" alt="">
            </div>

        </div>
        <div class="send-container">
            <img (click)="sendMessage()" class="send-button curser-pointer" src="./../../assets/main-section/icons/send.svg " alt=" ">
            <img (click)="sendMessage()" class="send-button-hover curser-pointer" src="./../../assets/main-section/icons/send_hover.svg " alt=" ">
        </div>
    </div>
</div>