@import './../../../styles.scss';
.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 16px;
    button {
        @include center-flex;
        border-radius: 20px;
        width: 90px;
        height: 30px;
        border: none;
    }
    .btn-login-user {
        background-color: var( --header-color);
        color: var(--text-white);
        &:hover {
            background-color: var( --your-chat-background-color);
        }
    }
    .btn-login-gast {
        border: 1px solid var( --header-color);
        background-color: var(--text-white);
        color: var(--header-color);
        &:hover {
            background-color: var( --header-color);
            color: var(--text-white);
        }
    }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}