@import './../../../../styles.scss';
#drop-area {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 20px;
    text-align: center;
    line-height: 200px;
    color: #ccc;
    font-family: Arial, sans-serif;
    @include center-flex;
}

.paddin16px {
    padding: 16px !important;
}

#drop-area:hover {
    border-color: #333;
    color: #333;
}

#drop-area.hovered {
    border: 2px dashed var(--header-color);
}

button {
    @include center-flex;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    border: none;
    background-color: var( --header-color);
    color: var(--text-white);
    &:hover {
        background-color: var( --your-chat-background-color);
    }
}